src/main/schema/BusinessProcessDataModel.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:hj="http://hyperjaxb3.jvnet.org/ejb/schemas/customizations" xmlns:orm="http://java.sun.com/xml/ns/persistence/orm" jaxb:extensionBindingPrefixes="hj orm">
	<xsd:complexType name="ProcessPreferencesDAO">
		<xsd:sequence>
			<xsd:element name="partnerID" type="xsd:string"/>
			<xsd:element name="preferences" type="ProcessPreferenceDAO" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProcessPreferenceDAO">
		<xsd:sequence>
			<xsd:element name="targetPartnerID" type="xsd:string"/>
			<xsd:element name="processOrder" type="ProcessType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProcessDAO">
		<xsd:sequence>
			<xsd:element name="processID" type="xsd:string"/>
			<xsd:element name="processName" type="xsd:string"/>
			<xsd:element name="textContent" type="xsd:string"/>
			<xsd:element name="processType" type="ProcessType"/>
			<xsd:element name="transactions" type="TransactionDAO" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TransactionDAO">
		<xsd:sequence>
			<xsd:element name="transactionID" type="xsd:string"/>
			<xsd:element name="initiatorRole" type="RoleType"/>
			<xsd:element name="responderRole" type="RoleType"/>
			<xsd:element name="documentType" type="DocumentType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ProcessType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="CATALOGUE"/>
			<xsd:enumeration value="NEGOTIATION"/>
			<xsd:enumeration value="ORDER"/>
			<xsd:enumeration value="REMITTANCEADVICE"/>
			<xsd:enumeration value="INVOICE"/>
			<xsd:enumeration value="TRACKING"/>
			<xsd:enumeration value="FULFILMENT"/>
			<xsd:enumeration value="PRODUCTCONFIGURATION"/>
			<xsd:enumeration value="TRANSPORT_EXECUTION_PLAN"/>
			<xsd:enumeration value="ITEM_INFORMATION_REQUEST"/>
			<xsd:enumeration value="OTHER"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RoleType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="BUYER"/>
			<xsd:enumeration value="SELLER"/>
			<xsd:enumeration value="LOGISTICSPROVIDER"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ApplicationExecutionType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="JAVA"/>
			<xsd:enumeration value="MICROSERVICE"/>
			<xsd:enumeration value="OTHER"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ExecutionConfigurationDAO">
		<xsd:sequence>
			<xsd:element name="applicationType" type="ApplicationType"/>
			<xsd:element name="executionType" type="ApplicationExecutionType"/>
			<xsd:element name="executionUri" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ApplicationType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="DATAADAPTER"/>
			<xsd:enumeration value="DATACHANNEL"/>
			<xsd:enumeration value="DATAPROCESSOR"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TransactionConfigurationDAO">
		<xsd:sequence>
			<xsd:element name="transactionID" type="xsd:string"/>
			<xsd:element name="executionConfigurations" type="ExecutionConfigurationDAO" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProcessConfigurationDAO">
		<xsd:sequence>
			<xsd:element name="partnerID" type="xsd:string"/>
            <xsd:element name="roleType" type="RoleType"/>
			<xsd:element name="processID" type="xsd:string"/>
			<xsd:element name="transactionConfigurations" type="TransactionConfigurationDAO" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProcessVariablesDAO">
		<xsd:sequence>
			<xsd:element name="processID" type="xsd:string"/>
			<xsd:element name="initiatorID" type="xsd:string"/>
			<xsd:element name="responderID" type="xsd:string"/>
            <xsd:element name="creatorUserID" type="xsd:string"/>
			<xsd:element name="contentUUID" type="xsd:string"/>
            <xsd:element name="relatedProducts" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="relatedProductCategories" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProcessInstanceInputMessageDAO">
		<xsd:sequence>
			<xsd:element name="variables" type="ProcessVariablesDAO"/>
			<xsd:element name="processInstanceID" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="DocumentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="CATALOGUE"/>
			<xsd:enumeration value="REQUESTFORQUOTATION"/>
			<xsd:enumeration value="QUOTATION"/>
			<xsd:enumeration value="ORDER"/>
			<xsd:enumeration value="ORDERRESPONSESIMPLE"/>
			<xsd:enumeration value="REMITTANCEADVICE"/>
			<xsd:enumeration value="INVOICE"/>
			<xsd:enumeration value="APPLICATIONRESPONSE"/>
			<xsd:enumeration value="TRANSPORTATIONSTATUS"/>
			<xsd:enumeration value="DESPATCHADVICE"/>
			<xsd:enumeration value="RECEIPTADVICE"/>
			<xsd:enumeration value="PPAPRESPONSE"/>
			<xsd:enumeration value="PPAPREQUEST"/>
			<xsd:enumeration value="TRANSPORTEXECUTIONPLANREQUEST"/>
			<xsd:enumeration value="TRANSPORTEXECUTIONPLAN"/>
			<xsd:enumeration value="ITEMINFORMATIONREQUEST"/>
			<xsd:enumeration value="ITEMINFORMATIONRESPONSE"/>
			<xsd:enumeration value="OTHER"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ProcessInstanceStatus">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="STARTED"/>
			<xsd:enumeration value="CANCELLED"/>
			<xsd:enumeration value="COMPLETED"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ProcessInstanceDAO">
		<xsd:sequence>
			<xsd:element name="processInstanceID" type="xsd:string"/>
            <xsd:element name="creationDate" type="xsd:string"/>
			<xsd:element name="processID" type="xsd:string"/>
			<xsd:element name="status" type="ProcessInstanceStatus"/>
			<xsd:element name="precedingProcess" type="ProcessInstanceDAO">
				<xsd:annotation>
					<xsd:appinfo>
						<hj:one-to-one>
							<orm:cascade>
								<orm:cascade-detach/>
								<orm:cascade-persist/>
								<orm:cascade-merge/>
								<orm:cascade-refresh/>
							</orm:cascade>
						</hj:one-to-one>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProcessInstanceGroupDAO">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" maxOccurs="1"/>
			<xsd:element name="Name" type="xsd:string"/>
			<xsd:element name="partyID" type="xsd:string"/>
			<!-- TODO do not use string-based references, use the object itself as a reference -->
			<!-- if the referred item is deleted the reference becomes obselete -->
			<!-- Otherwise we need to define a foreign key constraint in the database -->
			<xsd:element name="processInstanceIDs" type="xsd:string" maxOccurs="unbounded"/>
			<xsd:element name="archived" type="xsd:boolean"/>
			<xsd:element name="collaborationRole" type="xsd:string"/>
			<xsd:element name="status" type="GroupStatus"/>
			<!-- TODO do not use string-based references, use the object itself as a reference -->
			<!-- if the referred item is deleted the reference becomes obselete -->
			<!-- Otherwise we need to define a foreign key constraint in the database -->
			<!-- see the temp element for proper referencing -->
			<!-- first try to use manytomany annotation, see the second temp !!! -->
			<xsd:element name="associatedGroups" type="xsd:string" maxOccurs="unbounded"/>
            <xsd:element name="precedingProcessInstanceGroup" minOccurs="0" type="ProcessInstanceGroupDAO">
                <xsd:annotation>
                    <xsd:appinfo>
                        <hj:one-to-one merge="false">
                            <orm:cascade>
                                <orm:cascade-detach/>
                                <orm:cascade-persist/>
                                <orm:cascade-merge/>
                                <orm:cascade-refresh/>
                            </orm:cascade>
                        </hj:one-to-one>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="precedingProcess" minOccurs="0" type="ProcessInstanceDAO">
                <xsd:annotation>
                    <xsd:appinfo>
                        <hj:one-to-one merge="false">
                            <orm:cascade>
                                <orm:cascade-detach/>
                                <orm:cascade-persist/>
                                <orm:cascade-merge/>
                                <orm:cascade-refresh/>
                            </orm:cascade>
                        </hj:one-to-one>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
			<!--<xsd:element name="temp" type="AssociatedProcessInstanceGroup" maxOccurs="unbounded"/>-->
			<!--<xsd:element name="temp" type="ProcessInstanceGroupDAO" maxOccurs="unbounded">-->
				<!--<xsd:annotation>-->
					<!--<xsd:appinfo>-->
						<!--<hj:many-to-many/>-->
					<!--</xsd:appinfo>-->
				<!--</xsd:annotation>-->
			<!--</xsd:element>-->
			<xsd:element name="firstActivityTime" type="xsd:string">
				<xsd:annotation>
					<xsd:appinfo>
						<hj:ignored/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lastActivityTime" type="xsd:string">
				<xsd:annotation>
					<xsd:appinfo>
						<hj:ignored/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="GroupStatus">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="INPROGRESS"/>
			<xsd:enumeration value="CANCELLED"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="CollaborationGroupDAO">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="associatedProcessInstanceGroups" type="ProcessInstanceGroupDAO" maxOccurs="unbounded"/>
			<xsd:element name="archived" type="xsd:boolean"/>
			<xsd:element name="status" type="CollaborationStatus"/>
			<xsd:element name="isProject" type="xsd:boolean"/>
			<xsd:element name="associatedCollaborationGroups" type="xsd:long" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="CollaborationStatus">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="INPROGRESS"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AssociatedProcessInstanceGroup">
		<xsd:sequence>
			<xsd:element name="processInstances" type="ProcessInstanceGroupDAO" minOccurs="1" maxOccurs="1">
				<!--<xsd:annotation>-->
					<!--<xsd:appinfo>-->
						<!--<hj:one-to-one merge="false">-->
							<!--<orm:cascade>-->
								<!--<orm:cascade-detach/>-->
								<!--<orm:cascade-persist/>-->
								<!--<orm:cascade-merge/>-->
								<!--<orm:cascade-refresh/>-->
							<!--</orm:cascade>-->
						<!--</hj:one-to-one>-->
					<!--</xsd:appinfo>-->
				<!--</xsd:annotation>-->
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ProcessDocumentStatus">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="APPROVED"/>
			<xsd:enumeration value="WAITINGRESPONSE"/>
			<xsd:enumeration value="DENIED"/>
			<xsd:enumeration value="PASTDUE"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ProcessDocumentMetadataDAO">
		<xsd:sequence>
			<xsd:element name="documentID" type="xsd:string"/>
			<xsd:element name="submissionDate" type="xsd:string"/>
			<xsd:element name="type" type="DocumentType"/>
			<xsd:element name="relatedProducts" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="relatedProductCategories" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="status" type="ProcessDocumentStatus"/>
			<xsd:element name="processInstanceID" type="xsd:string"/>
			<xsd:element name="initiatorID" type="xsd:string"/>
			<xsd:element name="responderID" type="xsd:string"/>
            <xsd:element name="creatorUserID" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--xsd:complexType name="ProcessDocumentContentDAO">
		<xsd:sequence>
			<xsd:element name="documentID" type="xsd:string"/>
			<xsd:element name="content" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType-->
</xsd:schema>
